{% extends 'base.html.twig' %}

{% block title %}
    {{  'title_comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{  'title_comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{  knp_pagination_sortable(pagination, 'label_id'|trans, 'comment.id') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_date'|trans, 'comment.createdAt') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_email'|trans, 'comment.email') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_comment_content'|trans, 'comment.commentContent') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_name'|trans, 'comment.nick') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.createdAt|format_date('long') }}</td>
                    <td>{{ comment.email }}</td>
                    <td>{{ comment.commentContent }}</td>
                    <td>{{ comment.nick }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with{
            type: 'warning',
            message: 'message_empty_list'|trans
        } %}
    {% endif %}
{% endblock  %}