{% extends 'base.html.twig' %}

{% block title %}
{{  'title_record_list'|trans }}
{% endblock %}

{% block body %}
    <h1>My Blog</h1>
    {% if data is defined and data|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_id'|trans }}</th>
                <th>{{ 'label_title'|trans }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th scope="col">
                    {{ 'label_actions'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>
                        <a href="{{ url('record_show', {id: item.id}) }}" title="view">
                            view
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}
{% endblock  %}
