{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}
    Hello {{ name }}
{% endblock %}

{% block body %}
    <p>
        hello {{ name }}
    </p>
{% endblock %}