{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_edit'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_edit'|trans({'%id%': category.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('category_edit', {id: category.id})}) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('category_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}