{% extends 'base.html.twig' %}

{% block title %}
    {{  'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{  'title_category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div>
            <a href="{{ url('category_create') }}" title={{ 'action_create_category'|trans }}>
                {{ 'action_create_category'|trans }}
            </a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{  knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_name'|trans, 'category.name') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title={{ 'action_view'|trans }}>
                            {{ 'action_view'|trans }}
                        </a>
                        <a href="{{ url('category_edit', {id: category.id}) }}" title={{ 'action_edit'|trans }}>
                            {{ 'action_edit'|trans }}
                        </a>
                        {% if not category.posts|length %}
                        <a href="{{ url('category_delete', {id: category.id}) }}" title={{ 'action_delete'|trans }}>
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
            {% include 'default/_single_flash_message.html.twig' with{
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
    {% endif %}
{% endblock  %}