{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_delete'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_post_delete'|trans({'%id%': post.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'DELETE', action: url('post_delete', {id: post.id}) }) }}
    {{ form_widget(form) }}
    <p>{{ 'message_delete_post'|trans }}</p>
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_delete'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('post_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}