{% extends 'base.html.twig' %}

{% block title %}
    {{  'title_post_list'|trans }}
{% endblock %}

{% block body %}
    <h1>My Blog</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div>
            <a href="{{ url('post_create') }}" title={{ 'action_create_post'|trans }}>
                {{ 'action_create_post'|trans }}
            </a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{  knp_pagination_sortable(pagination, 'label_id'|trans, 'post.id') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_title'|trans, 'post.title') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_author'|trans, 'post.author') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_date'|trans, 'post.date') }}</th>
                <th>{{  knp_pagination_sortable(pagination, 'label_category'|trans, 'post.category.name') }}</th>

                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for post in pagination.items %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author}}</td>
                    <td>{{ post.date|format_date('long')}}</td>
                    <td>{{ post.category.name}}</td>
                    <td>
                        <a href="{{ url('post_show', {id: post.id}) }}" title={{ 'action_view'|trans }}>
                            {{ 'action_view'|trans }}
                        </a>
                        <a href="{{ url('post_edit', {id: post.id}) }}" title={{ 'action_edit'|trans }}>
                            {{ 'action_edit'|trans }}
                        </a>
                        <a href="{{ url('post_delete', {id: post.id}) }}" title={{ 'action_delete'|trans }}>
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}
{% endblock  %}