{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}</h1>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ post.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{ post.content }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ post.date|format_date('long') }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{ post.author|trans }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ post.category.name|trans }}</dd>
        </dl>
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
        <p>
            {{ 'label_comments'|trans }}
        </p>
        {% for comment in post.comments %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="comment-container d-inline-block pl-3 align-top">
                        <span class="commenter-name">{{ comment.nick }}</span>
                        <small>{{ comment.createdAt|format_date('short') }}</small>
                        <br>
                        <span class="comment"> {{ comment.commentContent }}</span>
                        <p><a href="#">{{ 'label_create_comment'|trans }}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}